<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	<data>

		<record id="res_config_settings_view_form" model="ir.ui.view">
			<field name="name">res.config.settings.view.form.inherit</field>
			<field name="model">res.config.settings</field>
			<field name="priority" eval="10"/>
			<field name="inherit_id" ref="base.res_config_settings_view_form" />
			<field name="arch" type="xml">
				<xpath expr="//form" position="inside">
					<div class="app_settings_block" data-string="th_caisse_externe" string="Caisse externe" data-key="th_caisse_externe">
						<h2>Compte de perte et gain de change</h2>
						<div class="row mt16 o_settings_container">
							<div class="col-12 col-lg-6 o_setting_box">
								<div class="o_setting_right_pane">
									<div class="row mt16 o_settings_container">
										<div class="o_settings_left_pane">
											<label for="compte_perte_id" string="Compte de perte de change"/><br/>
											<field name="compte_perte_id"/>
										</div>
										<div class="o_settings_left_pane">
											<label for="compte_gain_id" string="Compte de gain de change"/><br/>
											<field name="compte_gain_id"/>
										</div>
										<div class="o_settings_left_pane">
											<label for="journal_id" string="Journal de gain ou perte de change"/><br/>
											<field name="journal_id"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</xpath>
			</field>
		</record>

		<record id="th_caisse_externe_config_settings_action" model="ir.actions.act_window">
			<field name="name">Configurations</field>
			<field name="type">ir.actions.act_window</field>
			<field name="res_model">res.config.settings</field>
			<field name="view_id" ref="res_config_settings_view_form"/>
			<field name="view_mode">form</field>
			<field name="target">inline</field>
			<field name="context">{'module':'th_caisse_externe'}</field>
		</record>

		<menuitem 
			id="menu_th_caisse_externe_settings" 
			parent="caisse_config_menu" 
			name="Configurations"
			sequence="10"
			action="th_caisse_externe_config_settings_action"
		/>
	</data>
</odoo>